In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Health Analytics/Claims Data master.xlsx")

In [ ]:
def count_null_values(dataframe):
    return dataframe.isnull().sum()

In [ ]:
print(count_null_values(df))

Patient_Card_No             0
CardNo_MID                  0
Age                         0
Sex                         0
Caste                       0
Category_Code               0
Category_Name               0
Surgery_Code                0
Surgery_Name                0
Patient_Village             0
Mandal_Name                 0
Patient_District            0
Preauth_Date                0
Preauth_Amount              0
Claim_Date                  0
Claim_Amount                0
Hospital_Name               0
Hospital_Type               0
Hospital_Location           0
Hospital_District           0
Surgery_Date                0
Discharge_Date              3
Mortality_Yes/No            0
Mortality _Date        178441
Source_Registration         0
Treating Doctor           513
dtype: int64

In [ ]:
p_ID = [24403,1355158,1859004]
df = df[~df['Patient_Card_No'].isin(p_ID)]

In [ ]:
df.head()

,Patient_Card_No,CardNo_MID,Age,Sex,Caste,Category_Code,Category_Name,Surgery_Code,Surgery_Name,Patient_Village,...,Hospital_Name,Hospital_Type,Hospital_Location,Hospital_District,Surgery_Date,Discharge_Date,Mortality_Yes/No,Mortality _Date,Source_Registration,Treating Doctor
0,1815638,1815638/06,18,Male,ST,S12,MEDICAL ONCOLOGY,S12.12.1,Chemotherapy for Oesophageal Cancer with Cispl...,Thumpalle,...,BASAVATARAKAM INDO AMERICAN CANCER HOSPITAL & ...,Corporate,HYDERABAD,Hyderabad,2015-03-24,2015-03-26,No,NaT,Direct,Dr barjraj
1,1741971,1741971/01,47,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Raghavapur,...,District Hospital - Kingkoti,Government,HYDERABAD,Hyderabad,2014-07-19,2014-08-22,No,NaT,CMCO,Dr ramdin verma
2,1043205,1043205/02,47,Female,SC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Ward- 7,...,Aditya Hospital,Corporate,HYDERABAD,Hyderabad,2015-04-10,2015-05-19,No,NaT,Direct,Dr ramdin verma
3,2027313,2027313/01,55,Male,SC,S9,GENITO URINARY SURGERIES,S9.3.4,ursl,Bhuvanapalli,...,Gandhi Hospitals,Government,HYDERABAD,Hyderabad,2015-05-28,2015-06-02,No,NaT,Medical Camp,Dr sharat chandran
4,1825956,1825956/02,61,Female,SC,S9,GENITO URINARY SURGERIES,S9.3.2,PCNL,Chukkapur,...,Gandhi Hospitals,Government,HYDERABAD,Hyderabad,2014-12-27,2014-12-30,No,NaT,Direct,Dr birender mandal

In [ ]:
df.columns

Index(['Patient_Card_No', 'CardNo_MID', 'Age', 'Sex', 'Caste', 'Category_Code',
       'Category_Name', 'Surgery_Code', 'Surgery_Name', 'Patient_Village',
       'Mandal_Name', 'Patient_District', 'Preauth_Date', 'Preauth_Amount',
       'Claim_Date', 'Claim_Amount', 'Hospital_Name', 'Hospital_Type',
       'Hospital_Location', 'Hospital_District', 'Surgery_Date',
       'Discharge_Date', 'Mortality_Yes/No', 'Mortality _Date',
       'Source_Registration', 'Treating Doctor'],
      dtype='object')

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy = df_copy[['Age', 'Sex',
       'Category_Name', 'Surgery_Code','Preauth_Date', 'Preauth_Amount',
       'Claim_Date', 'Claim_Amount','Hospital_Type','Surgery_Date',
       'Discharge_Date','Mortality_Yes/No','Hospital_District']]

In [ ]:
df_copy.columns

Index(['Age', 'Sex', 'Category_Name', 'Surgery_Code', 'Preauth_Date',
       'Preauth_Amount', 'Claim_Date', 'Claim_Amount', 'Hospital_Type',
       'Surgery_Date', 'Discharge_Date', 'Mortality_Yes/No',
       'Hospital_District'],
      dtype='object')

In [ ]:
date_columns = ['Preauth_Date',"Claim_Date", 'Surgery_Date', 'Discharge_Date']
for col in date_columns:
  df_copy[col] = pd.to_datetime(df[col], format='%d-%m-%y')

In [ ]:
df_copy["pre - claim"] = -(df_copy['Preauth_Date'] - df_copy["Claim_Date"]).dt.days
df_copy["surg - claim"] = -(df_copy['Surgery_Date'] - df_copy["Claim_Date"]).dt.days
df_copy["pre - surg"] = -(df_copy['Preauth_Date'] - df_copy["Surgery_Date"]).dt.days
df_copy["claim - dicharge"] = -(df_copy['Claim_Date'] - df_copy["Discharge_Date"]).dt.days
df_copy["surg - discharge"] = -(df_copy['Surgery_Date'] - df_copy["Discharge_Date"]).dt.days
df_copy["total_days"] = -(df_copy['Preauth_Date'] - df_copy["Discharge_Date"]).dt.days

In [ ]:
df_copy.drop(date_columns, axis = 1 , inplace = True)

In [ ]:
df_copy.head()

,Age,Sex,Category_Name,Surgery_Code,Preauth_Amount,Claim_Amount,Hospital_Type,Mortality_Yes/No,Hospital_District,pre - claim,surg - claim,pre - surg,claim - dicharge,surg - discharge,total_days
0,18,Male,MEDICAL ONCOLOGY,S12.12.1,6630.0,6630.0,Corporate,No,Hyderabad,24,24,0,-22,2,2
1,47,Male,NEPHROLOGY,M6.5,12500.0,12500.0,Government,No,Hyderabad,185,187,-2,-153,34,32
2,47,Female,NEPHROLOGY,M6.5,12500.0,12500.0,Corporate,No,Hyderabad,78,77,1,-38,39,40
3,55,Male,GENITO URINARY SURGERIES,S9.3.4,25000.0,23200.0,Government,No,Hyderabad,200,197,3,-192,5,8
4,61,Female,GENITO URINARY SURGERIES,S9.3.2,34280.0,34280.0,Government,No,Hyderabad,87,87,0,-84,3,3

In [ ]:
cat_cols = ['Sex', 'Category_Name','Surgery_Code',
       'Hospital_Type', 'Hospital_District',
      'Mortality_Yes/No']

In [ ]:
def get_dummy_columns(dataframe, categorical_columns):
    # Create dummy columns for the categorical variables
    dataframe = pd.get_dummies(dataframe, columns=categorical_columns, drop_first=True)

    return dataframe

In [ ]:
df_copy.columns

Index(['Age', 'Sex', 'Category_Name', 'Surgery_Code', 'Preauth_Amount',
       'Claim_Amount', 'Hospital_Type', 'Mortality_Yes/No',
       'Hospital_District', 'pre - claim', 'surg - claim', 'pre - surg',
       'claim - dicharge', 'surg - discharge', 'total_days'],
      dtype='object')

In [ ]:
model_1 = ['Age', 'Category_Name', 'Surgery_Code', 'Preauth_Amount',
       'Claim_Amount', 'Hospital_Type', 'Mortality_Yes/No',
       'Hospital_District', 'pre - claim', 'surg - claim', 'pre - surg',
       'claim - dicharge', 'surg - discharge', 'total_days']

model_2 = ['Age', 'Sex', 'Category_Name', 'Surgery_Code', 'Preauth_Amount',
       'Claim_Amount']

model_t = ['Age', 'Sex', 'Category_Name', 'Surgery_Code', 'Preauth_Amount',
       'Claim_Amount', 'Hospital_Type', 'Mortality_Yes/No',
       'Hospital_District', 'pre - claim', 'surg - claim', 'pre - surg',
       'claim - dicharge', 'surg - discharge', 'total_days']

In [ ]:
def find_intersection(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    intersection = set1.intersection(set2)
    return list(intersection)

In [ ]:
import pandas as pd
from sklearn.ensemble import IsolationForest

def extended_isolation_forest(dataframe,columns, n_estimators=500, contamination=0.1):
    dataframe = dataframe[columns]
    categorical_cols = find_intersection(columns,cat_cols)

    dataframe = get_dummy_columns(dataframe,categorical_cols)

    # # Assuming the dataframe has features in columns 0 to n-1, where n is the number of features
    # X = dataframe.iloc[:, :-1].values

    # Create an instance of Extended Isolation Forest
    eif = IsolationForest(n_estimators=n_estimators, contamination=contamination)

    # Fit the model and obtain the anomaly score
    anomaly_scores = eif.fit_predict(dataframe)

    return anomaly_scores

In [ ]:
df_copy["Score_1"] = extended_isolation_forest(df_copy,model_1)
df_copy["Score_2"] = extended_isolation_forest(df_copy,model_2)
df_copy["Score_t"] = extended_isolation_forest(df_copy,model_t)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

In [ ]:
print(count_null_values(df_copy))

Age                  0
Sex                  0
Category_Name        0
Surgery_Code         0
Preauth_Amount       0
Claim_Amount         0
Hospital_Type        0
Mortality_Yes/No     0
Hospital_District    0
pre - claim          0
surg - claim         0
pre - surg           0
claim - dicharge     0
surg - discharge     0
total_days           0
dtype: int64

In [ ]:
# Find rows with at least one null value
null_rows = df_copy[df_copy.isnull().any(axis=1)]

print(null_rows)

       Age   Sex       Category_Name Surgery_Code  Preauth_Amount  \
64413   67  Male  RADIATION ONCOLOGY      S13.2.1         65000.0

       Claim_Amount Hospital_Type Mortality_Yes/No Hospital_District  \
64413       45000.0     Corporate              Yes       Ranga Reddy

       pre - claim  surg - claim  pre - surg  claim - dicharge  \
64413          101            99           2               NaN

       surg - discharge  total_days
64413               NaN         NaN

In [ ]:
df_copy.head()

,Age,Sex,Category_Name,Surgery_Code,Preauth_Amount,Claim_Amount,Hospital_Type,Mortality_Yes/No,Hospital_District,pre - claim,surg - claim,pre - surg,claim - dicharge,surg - discharge,total_days,Score_1,Score_2,Score_t
0,18,Male,MEDICAL ONCOLOGY,S12.12.1,6630.0,6630.0,Corporate,No,Hyderabad,24,24,0,-22,2,2,1,1,1
1,47,Male,NEPHROLOGY,M6.5,12500.0,12500.0,Government,No,Hyderabad,185,187,-2,-153,34,32,1,1,1
2,47,Female,NEPHROLOGY,M6.5,12500.0,12500.0,Corporate,No,Hyderabad,78,77,1,-38,39,40,1,1,1
3,55,Male,GENITO URINARY SURGERIES,S9.3.4,25000.0,23200.0,Government,No,Hyderabad,200,197,3,-192,5,8,1,1,1
4,61,Female,GENITO URINARY SURGERIES,S9.3.2,34280.0,34280.0,Government,No,Hyderabad,87,87,0,-84,3,3,1,-1,1

In [ ]:
df_copy["Anomaly_Score"] = df_copy["Score_1"]*df_copy["Score_2"]*df_copy["Score_t"]

In [ ]:
df["Anomaly_Score"] = df_copy["Anomaly_Score"]

In [ ]:
df.to_excel("/content/drive/MyDrive/Health Analytics/Claims Data master_1.xlsx")