In [2]:
import pandas as pd
import numpy as np
import string
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords

In [6]:
email_df = pd.read_csv('./spam.csv', encoding = 'windows-1250')
email_df.head()

,Classification,Email_text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [8]:
email_df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis = 1, inplace = True)

In [9]:
email_df.head()

  Classification                                         Email_text
0            ham  Go until jurong point, crazy.. Available only ...
1            ham                      Ok lar... Joking wif u oni...
2           spam  Free entry in 2 a wkly comp to win FA Cup fina...
3            ham  U dun say so early hor... U c already then say...
4            ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
#Text processing and Vectorizing messages

email_features = email_df['Email_text']


def text_process(text):
    
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = [word for word in text.split() if word.lower() not in stopwords.words('english')]
    
    return " ".join(text)

In [14]:
email_features = email_features.apply(text_process)

In [17]:
vectorizer = TfidfVectorizer()
features = vectorizer.fit_transform(email_features)

In [20]:
features_train, features_test, labels_train, labels_test = train_test_split(features, email_df['Classification'], test_size=0.3, random_state=111)

In [ ]:
#classification and prediction

mnb = MultinomialNB(alpha = 0.2)
mnb.fit(feature_train,labels_train)
lables_pred = mnb.predict(features_test)